<div class="detail-section">
    <div class="container-fluid">
     
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col justify-content-center">
                        <ngb-carousel #carousel [interval]="5000">
                            <ng-template ngbSlide *ngFor="let image of images">
                                <div (click)="roles.includes('second-hand-app-admin') && editImages()"
                                    [ngClass]="{'slider-wrapper' : roles.includes('second-hand-app-admin')}" 
                                    class="d-flex justify-content-center align-items-center">
                                    <img class="img-fluid" [src]="image.url" alt="">
                                </div>
                            </ng-template>
                          </ngb-carousel>
                    </div>
                </div>
                <app-upload-file [hidden]="roles.indexOf('second-hand-app-admin') == -1"></app-upload-file>
                <button [hidden]="roles.indexOf('second-hand-app-admin') == -1" type="button" (click)="uploadFile()" class="btn btn-success btn-small">wyślij</button>

            </div>


            <h3>{{product?.name}}</h3>
            <div class="price">{{product?.unitPrice | currency: 'PLN' }}</div>
            <button (click)="addToTheCart()" class="btn btn-success btn-small" 
                    [disabled]="roles.indexOf('second-hand-app-admin') > -1">
                    <i class="fa fa-shopping-cart pe-2"
                    aria-hidden="true"></i>Dodaj do koszyka</button>

            <hr>
            <h4>Opis</h4>
            <p>{{product?.description}}</p>

            <a (click)="getBacktoTheProductList()" class="mt-5 detail-hyperlink">Powrót do listy produktów</a>
            
    </div>
</div>
  