<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Twoje Zamówienia</h3>
            <div *ngIf="orderHistoryList.length > 0">
                <div class="table table-bordered">
                    <div class="row mt-3">
                        <div class="col-3 py-2 text-center">Numer zamówienia </div>
                        <div class="col-3 py-2 text-center">Wartość zamówienia</div>
                        <div class="col-3 py-2 text-center">Ilość towarów</div>
                        <div class="col-3 py-2 text-center">Data</div>
                    </div>
                    <div class="row" *ngFor="let tempOrderHistory of orderHistoryList" >
                        <div class="col-3 py-2 text-center"><a routerLink="/order-history/{{userEmail}}/{{tempOrderHistory.id}}">{{tempOrderHistory.orderTrackingNumber}}</a></div>
                        <div class="col-3 py-2 text-center">{{tempOrderHistory.totalPrice | currency:"PLN"}}</div>
                        <div class="col-3 py-2 text-center">{{tempOrderHistory.totalQuantity}}</div>
                        <div class="col-3 py-2 text-center">{{tempOrderHistory.dateCreated | date:'dd.MM.yyyy, hh:mm:ss'}}</div>
                    </div>
                </div>
            </div>

            <!--if order history is empty then display a message-->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                Brak zamówień.
            </div>
        </div>
    </div>
</div>