<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <div class="accordion" id="accordionCategoryMenu">
            
            <div *ngFor="let superCategory of superCategories" class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <a routerLink="/super-category/{{superCategory.id}}" routerLinkActive="active-link">
                  <button (click)="handleButtons()" id="accordion-button{{superCategory.id}}" class="accordion-button" [ngClass]="{'collapsed' : superCategory.id != superCategories[0].id}" type="button" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#collapse' + superCategory.id"  [attr.aria-expanded]="superCategory.id == superCategories[0].id"
                          aria-controls="collapseOne" [attr.style] = "superCategory.id == superCategories[0].id ? 'pointer-events: none;' : 'pointer-events: auto'">

                          {{superCategory.name | lowercase }}

                  </button>

                </a>
              </h2>
              <div id="collapse{{superCategory.id}}" class="accordion-collapse collapse" [ngClass]="{'show' : superCategory.id == 1}" aria-labelledby="headingOne" data-bs-parent="#accordionCategoryMenu">
                <div class="accordion-body">
                    <ul class="list-unstyled navbar-list">
                        <ng-container *ngFor="let category of productCategories">
                            <li *ngIf="category.superCategoryID == superCategory.id">
                                <a routerLink="/category/{{category.id}}" routerLinkActive="active-link">{{category.name | lowercase }}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
              </div>
            </div>
            
          </div>

    </nav>
</div>