<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{tempProduct.id}}">
                            <div class="particular-product">                              
                                <img src="{{ tempProduct.imageUrl }}" alt="" class="img-responsive">
                                <h1>{{ tempProduct.name}}</h1>
                            </div>
                        </a>
                        <div class="price">{{ tempProduct.unitPrice | currency:'PLN' }}</div>
                        <a class="btn btn-primary btn-small"><i class="fa fa-shopping-cart pe-2"
                            aria-hidden="true"></i>Dodaj do koszyka</a>
                    </div>
                </div>

                <!--  if products not found display a message-->
                
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    <!--  ? is in this case a safe navigation operator that prevents us from null pointer exception if the products would be null or undefined-->
                        Nie znaleziono produktów.
                    </div>                

            </div>

            <!-- begin footer -->

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                            
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                (pageChange)="listProducts()">

                                </ngb-pagination>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>