<div class="main-content">

    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="orderItems.length > 0">

                <table class="table table-bordered">
                    <tr>
                        <th colspan="2">Numer zamówienia: {{orderTrackingNumber}}</th>
                    </tr>
                    <tr>
                        <th width="30%">Produkt</th>
                        <th width="70%">Szczegóły produktu</th>
                    </tr>

                    <tr *ngFor="let tempOrderItem of orderItems">
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="{{ tempOrderItem.imageUrl }}" alt="" class="img-responsive" width="200px" />
                            </div>
                        </td>
                        <td>
                            <p> {{ tempOrderItem.name }} </p>
                            <p> {{ tempOrderItem.unitPrice | currency: 'PLN '}} </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1"></td>
                        <td class="active-link">
                            <p> Całkowita ilość: {{ totalQuantity }} </p>
                            <p> Wartość całkowita: {{ totalPrice | currency: 'PLN ' }} </p>
                            <p> Wysyłka: {{ shippingCost | currency: 'PLN ' }}</p>
                            <p> Suma: {{ totalPrice + shippingCost | currency: 'PLN ' }}</p>
                        </td>
                    </tr>

                </table>
            </div>
            <div *ngIf="orderItems.length == 0" class="alert alert-warning col-md-12" role="alert">
                Twój koszyk jest pusty.
            </div>
        </div>
    </div>