.page-container{
    display: flex;
    align-items: stretch;
    flex-direction:column;
    min-height: 100svh;
}
.main-content{
    min-height: 70svh;
    flex-grow: 1;
}

.footer{
    flex-shrink: 0;
}

.link-dark.active-link {
    color: #0c63e4 !important;
}

img {
    max-height: 60svh;
}

#offcanvasCategories {
    top: 4.3rem !important;
    left: 0 !important;
}

header>nav{
    height: 4.3rem;
}

.detail-hyperlink {
    cursor: pointer;
}

.slider-wrapper{
    cursor: pointer;
}
.trash-image {
    cursor: pointer;
}

.image-wrapper {
    width: max-content;
}

.image-wrapper:hover .trash-image {
    display: block!important;
}

@media screen and (min-width: 992px){
    .image-wrapper {
        max-width: 33%;
    }

}